#desktop {
  display: none;
  position: absolute;
  align-self: center;
  /* margin: auto; */
  opacity: 80%;
  /* top: -360px; */
  /* top: -442px; */
  left: 0;
}

#mobile {
  display: none;
  position: absolute;
  opacity: 80%;;
}

.Layout {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Layout .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 280px;
  background: url('../asset/images/pattern-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.Layout .header span {
  margin: 30px;
  font-weight: 700;
  font-size: 1.9rem;
  color: white;
}

@media (max-width: 880px) {
  .Layout .header span {
    font-size: 1.5rem;
  }
}