* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  --font-family: "Kumbh Sans", sans-serif;
  --font-size: 12px;
  --dividers-color: hsl(240, 5%, 91%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --darker-grayish-blue: hsl(237, 12%, 33%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  align-items: center;
  padding: 15px;
  min-height: 100vh;
}

/* PAGE STYLES */
#card {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  width: 920px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 40px 30px -20px rgb(0 0 0 / 30%);
}
#card #illustration .mobile {
  display: none;
}
#card #illustration {
  width: 50%;
}
#card #illustration .desktop--hide-overflow,
#card #illustration .desktop {
  position: relative;
  height: 100%;
}
#card #illustration .desktop--hide-overflow {
  overflow: hidden;
}
#card #illustration .desktop #desktop-woman-svg {
  position: absolute;
  top: 70px;
  left: -85px;
  z-index: 1;
}
#card #illustration .desktop #desktop-shadow {
  position: absolute;
  top: -300px;
  left: -561px;
  width: 950px;
  height: 950px;
}
#card #illustration #box {
  position: absolute;
  top: 205px;
  left: -93px;
  z-index: 2;
}

#card #faq {
  margin: 0 90px 0 0;
  min-height: 510px;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 70px 17px 70px 64px;
}
#card #faq h1 {
  font-size: 2.7em;
  color: var(--darker-grayish-blue);
  margin-bottom: 25px;
}
#card #faq details {
  padding: 17px 0;
  border-bottom: 1px solid var(--dividers-color);
  color: var(--dark-grayish-blue);
}
#card #faq details > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
  background: 100% 50% no-repeat url("./images/icon-arrow-down.svg");
  outline: none;
}
#card #faq details > summary::-webkit-details-marker {
  display: none;
}
#card #faq details img {
  margin: 4px;
}
#card #faq details > p {
  margin-top: 15px;
  line-height: 1.3em;
}
#card #faq details[open] span {
  color: var(--darker-grayish-blue);
  font-weight: bold;
}
#card #faq details[open] img {
  margin: 0 2px 4px 2px;
  transform: rotate(180deg);
}

.attribution {
  margin: 15px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* For mobile */
@media (max-width: 1025px) {
  #card {
    flex-direction: column;
    width: 325px;
    min-height: 535px;
  }

  #card #illustration .desktop {
    display: none;
  }
  #card #illustration {
    width: 100%;
    height: auto;
  }
  #card #illustration .mobile {
    display: block;
    height: 120px;
    padding-left: 10px;
  }
  #card #illustration .mobile #mobile-woman-svg {
    position: relative;
    top: -108px;
  }
  #card #illustration .mobile #mobile-shadow {
    position: relative;
    top: -200px;
    left: 26px;
  }

  #card #faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: unset;
    padding: 20px 20px 20px 25px;
  }
  #card #faq h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  #card #faq details {
    padding: 18px 0;
  }
  #card #faq details > summary {
    font-size: 13px;
  }
  #card #faq details > p {
    margin: 13px 15px 0 0;
  }
}
