.DisplayIPInfo--position {
  position: absolute;
  top: 200px;
  z-index: 1;
}

.DisplayIPInfo {
  display: flex;
  max-width: 1110px;
  min-height: 160px;
  border-radius: 15px;
  padding: 35px 0;
  margin: 0 25px;
  background-color: white;
}

.DisplayIPInfo .ipInfo {
  flex: 0 0 25%;
  border-right: 1px solid var(--dark-gray);
  padding: 0 32px;
  word-break: break-word;
}
.DisplayIPInfo .ipInfo:last-child {
  border-right: 0;
}

.DisplayIPInfo .ipInfo__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--dark-gray);
}

.DisplayIPInfo .ipInfo__content {
  margin: 15px 0 0 0;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.02rem;
}

@media (max-width: 880px) {
  .DisplayIPInfo {
    flex-direction: column;
    min-width: unset;
    max-width: 555px;
    width: calc(100vw - 25px - 25px);
    top: 170px;
    text-align: center;
    padding: 25px 30px 5px 30px;
  }
  .DisplayIPInfo .ipInfo {
    margin-bottom: 20px;
    border: 0;
  }
  .DisplayIPInfo .ipInfo__title {
    font-size: 10px;
  }
  .DisplayIPInfo .ipInfo__content {
    font-size: 20px;
    margin: 5px;
  }
}
