.SearchBar {
  border-radius: 15px;
  overflow: hidden;
  max-width: 555px;
  width: calc(100vw - 25px - 25px);
  height: 60px;
  margin: -1px 25px 45px 25px;
}

.SearchBar input {
  padding: 25px;
  height: 100%;
  width: 100%;
  font-size: var(--text-input-size);
  font-family: "Rubik", sans-serif;
}
.SearchBar input:focus {
  outline: none;
}

.SearchBar button {
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-image: url("../asset/images/icon-arrow.svg");
  background-color: black;
  border: 0;
  width: 63px;
}
.SearchBar button:hover {
  cursor: pointer;
  background-color: var(--very-dark-gray);
}
